<!-- <ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app> -->

<ion-menu side="end" type="push">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>My Account</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item><ion-button fill="clear" href="/user-home/botdetails/web-script"><ion-icon slot="start" src="/assets/weblogo.svg"></ion-icon>Web Script</ion-button></ion-item>
      <ion-item><ion-button fill="clear" href="/user-home/botdetails/ios-script"><ion-icon slot="start" src="/assets/applelogo.svg"></ion-icon>IOS Script</ion-button></ion-item>
      <ion-item><ion-button fill="clear" href="/user-home/botdetails/android-script"><ion-icon slot="start" src="/assets/androidlogo.svg"></ion-icon>Android Script</ion-button></ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>